/* HERO FULL SCREEN */

.hero-screen{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background:linear-gradient(to bottom,#ffe6f0,#ffd6eb,#ffc2e0);
  padding:20px;
  transition:opacity 0.8s ease;
}

.hero-content{
  max-width:350px;
}

.hero-content h1{
  font-size:2rem;
  margin-bottom:20px;
}

.hero-content p{
  margin-bottom:30px;
  line-height:1.6;
}

.hero-screen button{
  padding:12px 25px;
  border:none;
  border-radius:30px;
  background:#ff9cc9;
  color:white;
  font-weight:bold;
}

/* MAIN CONTENT HIDDEN INITIALLY */
.main-content{
  display:none;
  opacity:0;
  transition:opacity 1s ease;
}

.fade-out{
  opacity:0;
}

.fade-in{
  display:block;
  opacity:1;
}
